:root {
  --main-bg-color: #5a330682; 
   --accent-color1: #eee8d7;
   --acccent-color2:#220323cf;
   --heading-font-family:'Italiana', serif;
}
*{
    margin: 0px;
    padding: 0px;
}

/* hero section */
#hero-image{

   font-family: 'DM Serif Display', serif;
   background-image: url(src/TWO\ MAGNOLIAS.jfif);
   background-size: cover;
   background-repeat: no-repeat;
}
#hero-text{
    background-color: #eee8d7;
      font-family: 'DM Serif Display', serif;
}
img{
    width: 70%;
}

/* link styling */
a:link {
    text-decoration: none;
    color: black;
}
a:active{
    color:black
}
a:visited{
    color: white;
}
a:hover{
    color: beige;
}

/* typography */

h1{
padding-top: 150px;
font-family: 'Italiana', serif;
font-size: 100px!important;
 color: var(--acccent-color2);

}
p, h5, figcaption{
font-family: 'Noto Sans', sans-serif;
padding: 20px;
text-align: start;
}
li , em,h7{
    font-family: 'Bodoni Moda', serif;
}
h3{
    font-family:  'DM Serif Display', serif;
    line-height: 10px;
}
h4{
    font-family: 'DM Serif Display', serif;
      font-size: 200px;
}
h2{
    font-family: 'Bodoni Moda', serif;
}
h7{
    font-size: 15px;
    text-align: start;
}
.fs-3{
    line-height: 50px;
}

/* headings */
#projects, #about, #contact{
    font-size: 50px;
width:100%;
    font-family: 'Italiana', serif;
    padding: 0;
   
}



/* button */
.btn-grad {background-image: linear-gradient(to right, #9d598931 0%, #7eb0bc  51%, #c0b17485 100%)}
 .btn-grad {
margin: 10px;
padding: 15px 30px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: black;         
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: inline;
border: transparent;
font-family: 'DM Serif Display', serif;
}

.btn-grad:hover {
background-position: right center;
color: rgba(171, 143, 143, 0.769);
text-decoration: none;
}

form{
    padding: 20px;
    text-align: start;
}

div .container{
    margin: 0;
    padding: 0;
}
.container-fluid{
    padding:0px;
    margin: 0px;
}
.fa-brands,li{
    color:#320540;
}

/* background color */
 #about-container{
 background-image: url(src/AdobeColorGradient\ gradient_TWO\ MAGNOLIAS\ \(1\).png);
}